::ng-deep {
  .example-margin {
    .mat-checkbox-inner-container {
      width: 20px;
      height: 20px;
      cursor: pointer;
      margin-right: 14px;
    }
  }

  .mat-fab {
    width: 34px;
    height: 34px;

    .mat-button-wrapper {
      padding: 0;
    }

    .mat-icon {
      font-size: 20px;
      height: 22px;
      width: 24px;
    }
  }

  .mat-checkbox-frame, .mat-checkbox-background {
    border-radius: 5px !important;
  }
}

.task {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed #d8d8d8;
  margin-bottom: 6px;

  span {
    font-size: 20px;

    &.completed {
      text-decoration: line-through;
    }
  }

  .task__btns {
    display: flex;
    align-items: center;
  }

  .delete__btn {
    background-color: rgb(202, 50, 50);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 28px;
  }
}


